/*
    En memoria de lovely-gumdrop-2a6deb
*/
body {
    background-color: lavender;
}
p {
    font-size: large;
    font-family: monospace;
}
h1 {
    font-family: 'Book Antiqua';
}
h2 {
    font-family: cursive;
}
footer {
    font-family: fantasy;
    font-family: 'Dancing Script', cursive;
    font-size: larger;
}
.central {
    text-align: center;
}
.titulo {
    background-color: lightsalmon;
    border-radius: 15px;
    border: 2px dotted black;
}
.foto {
    float: left;
    margin-right: 5px;
}
.ejemplo {
    display: block;
    padding: 5px;
    margin: auto;
    width: 30%;
}
.operaciones {
    width: 60%;
}
.informacion {
    margin: auto;
    width: 50%;
    margin-top: 40px;
    padding: 10px;
    border-radius: 15px;
    border: 2px dotted black;
}
.informacion::after {
    content: "";
    clear: both;
    display: table;
}
.imagen {
    float: right;
    margin-left: 5px;
}
.derecha {
    text-align: right;
}
.izquierda {
    text-align: left;
}
.diferente {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.hiperbola {
    display: block;
    margin: auto;
}
#definicion {
    background-color: darksalmon;
}
#historia {
    background-color: dodgerblue;
}
#ecuaciones {
    background-color: violet;
}
#excentricidad {
    background-color: goldenrod;
}
#elementos {
    background-color: aqua;
}
#polares {
    background-color: darkseagreen;
}
@media screen and (max-width: 400px) {
    .informacion {
        margin: auto;
        width: 80%;
        margin-top: 40px;
        padding: 10px;
        border-radius: 15px;
        border: 2px dotted black;
    }
    .ejemplo {
        display: block;
        padding: 5px;
        margin: auto;
        width: 60%;
    }
    .operaciones {
        width: 70%;
    }
}