/*
    En memoria de lovely-gumdrop-2a6deb
*/
body {
    background-color: lavender;
}
p {
    font-size: large;
    font-family: monospace;
}
h1 {
    font-family: 'Book Antiqua';
}
h2 {
    font-family: cursive;
}
.central {
    text-align: center;
}
.titulo {
    background-color: lightsalmon;
    border-radius: 15px;
    border: 2px dotted black;
}
.foto {
    float: left;
    margin-right: 5px;
}
.informacion {
    margin: auto;
    width: 50%;
    margin-top: 40px;
    padding: 10px;
}
.informacion::after {
    content: "";
    clear: both;
    display: table;
}
.imagen {
    float: right;
    margin-left: 5px;
}
.derecha {
    text-align: right;
}
.diferente {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.hiperbola {
    display: block;
    margin: auto;
}
#definicion {
    background-color: darksalmon;
    border-radius: 15px;
    border: 2px dotted black;
}
#historia {
    background-color: dodgerblue;
    border-radius: 15px;
    border: 2px dotted black;
}
#ecuaciones {
    background-color: violet;
    border-radius: 15px;
    border: 2px dotted black;
}
#excentricidad {
    background-color: goldenrod;
    border-radius: 15px;
    border: 2px dotted black;
}